:root{
    --fonte-principal:"Comic_Sans"; }

body{ 

    background-color: rgb(83, 3, 79);
    color: white(--branco-principal);
    font-family: white(--fonte-principal);
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    border: 5px solid;

.fototinho {
    background-image: url(img/papai.jpg);
    height: 50vh;
}

.titulinho {
    color: white (--branco-principal);
    font-family: white(--fonte-principal);
    font-size: 400;
}
}